#bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: linear-gradient(135deg, rgb(15, 23, 42), rgb(100, 116, 139) 100%, rgb(100, 116, 139));
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 0;
    min-height: 100vh;
}

main {
    width: 90%;
    margin: 3.5rem auto 0 auto;
    flex: 1;
}

#welcome {
    text-align: center;
    font-weight: 600;
    font-size: 5rem;
    color: aliceblue;
    font-family: "Josefin Sans", sans-serif;
    font-style: normal;
    font-optical-sizing: auto;
    margin: 0;
    margin-top: 0rem;
    margin-bottom: 1rem;
}

#bubbelPop {
    background: hsla(205, 44%, 54%, 0.2);
    border: black solid;
    border-radius: 1rem;
    width: 100%;
    margin: 0;
    position: relative;
    overflow: hidden;
}

.bubble {
    position: absolute;
    cursor: pointer;
    border-radius: 50%;
}

#about {
    font-family: "Josefin sans", sans-serif;
    color: aliceblue;
    line-height: 1.1;
}

#about h1 {
    text-align: center;
    font-weight: 600;
    font-size: 5rem;
    font-style: normal;
    font-optical-sizing: auto;
    margin: 0;
    margin-top: 0rem;
    margin-bottom: 1rem;
}

#about .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.6rem;
    padding: 0.5rem;
}

#about .grid-item {
    background-color: rgb(0, 0, 0, 0.1);
    color: white;
    padding: 10px;
    font-size: 1.2rem;
    border-radius: 8px;
    overflow: hidden;
}

#work {
    font-family: "Josefin sans", sans-serif;
    color: aliceblue;
    line-height: 1.1;
}

#work h1 {
    text-align: center;
    font-weight: 600;
    font-size: 5rem;
    font-style: normal;
    font-optical-sizing: auto;
    margin: 0;
    margin-top: 0rem;
    margin-bottom: 1rem;
}

#projects h2 {
    text-align: center;
    margin: 0;
    font-size: 2.5rem;
    line-height: 1;
}

#projects p {
    text-align: center;
    font-style: italic;
    line-height: 1.1;
}

.project-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    justify-items: center;
    width: 100%;
    padding: 0.3rem;
    box-sizing: border-box;
}

.card {
  width: 100%;
  min-width: 260px;
  max-width: 400px;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 1rem;
  border-radius: 1rem;
  box-sizing: border-box;
}

.card img {
    width: 100%;
    height: auto;
}

.card a {
    word-break: break-all;
}

#tools h2 {
    text-align: center;
    margin: 10px;
    font-size: 2.5rem;
}

.outer-box {
    width: 70px;
    height: 70px;
    background-color: rgb(240, 248, 255, 0.3);
    border: 2px solid rgb(121, 121, 121);
    border-radius: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner-box {
    width: 60px;
    height: 60px;
    background-color: rgb(0, 0, 0, 0.5);
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    text-align: center;
    width: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#tools-box {
    display: flex;
    flex-direction: row;
    gap: 5rem;
    justify-content: center;
    flex-wrap: wrap;
    width: 60%;
    margin: 0 auto;
}

.box img {
    width: 40px;
    height: 40px;
    object-fit: contain;
}

#contact {
    font-family: "Josefin sans", sans-serif;
    color: aliceblue;
    line-height: 1.1;
}

#contact h1 {
    text-align: center;
    font-weight: 600;
    font-size: 5rem;
    font-style: normal;
    font-optical-sizing: auto;
    margin: 0;
    margin-top: 0rem;
    margin-bottom: 1rem;
}

#contact p {
    text-align: center;
    font-style: italic;
    line-height: 1.1;
}

#contact ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    text-align: center;
    font-size: 3rem;
}

#contact a {
    color: aliceblue;
}