<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <link rel="stylesheet" href="/Portfolio/templates/footer.css">
</head>
<body>
    <div class="footer">
    <h3>My socials</h3>
    <ul>
        <li><a href="https://www.instagram.com/4lbinp/" target="_blank" rel="noopener noreferrer"><img src="/Portfolio/pictures/Instagram_Glyph_Gradient.png" alt="Instagram"></a></li>
        <li><a href="https://x.com/4lbinP" target="_blank" rel="noopener noreferrer"><img src="/Portfolio/pictures/logo.svg" alt="X"></a></li>
    </ul>
    <p>&copy; Albin Persson 2025</p>
    </div>
</body>
</html>